  <div class="profile-container">
    <!-- Imagem de perfil -->
    <div class="profile-picture">
      <img src="assets/imgs/user-placeholder.png" alt="Imagem do Usuário">
    </div>

    <!-- Nome do Usuário -->
    <h1 class="username">Nome do Usuário</h1>

    <!-- Contato -->
    <div class="contact-info">
      <p>
        <strong>Email:</strong>
        <span>gmail.com</span>
      </p>
      <p>
        <strong>Telefone:</strong>
        <span>11 98765-4321</span>
      </p>
    </div>
    
    <!-- Informações adicionais -->
    <div class="additional-info">
      <p>
        <strong>RA:</strong>
        <span>0000123456 - 7</span>
      </p>
      <p>
        <strong>RG:</strong>
        <span>*******-1</span>
      </p>
      <p>
        <strong>CPF:</strong>
        <span>***.***.***-23 - 12</span>
      </p>
    </div>
  </div>
