<div class="container">
  <h1 id="title">Atividades</h1>
  
  <a href="pagina-aluno-materia" class="card">
    <div class="icon-placeholder"></div>
    <div class="card-content">
      <div class="subject-name">Nome da Matéria</div>
      <div class="professor-name">Nome do Professor</div>
    </div>
  </a>

  <a href="pagina_materia2.html" class="card">
    <div class="icon-placeholder"></div>
    <div class="card-content">
      <div class="subject-name">Nome da Matéria</div>
      <div class="professor-name">Nome do Professor</div>
    </div>
  </a>

  <a href="pagina_materia3.html" class="card">
    <div class="icon-placeholder"></div>
    <div class="card-content">
      <div class="subject-name">Nome da Matéria</div>
      <div class="professor-name">Nome do Professor</div>
    </div>
  </a>

  <a href="pagina_materia4.html" class="card">
    <div class="icon-placeholder"></div>
    <div class="card-content">
      <div class="subject-name">Nome da Matéria</div>
      <div class="professor-name">Nome do Professor</div>
    </div>
  </a>
</div>
