<div class="container">
    <!-- Nome da Matéria e Tabs -->
      <ion-row class="subject-row">
          <div class="subject-icon"></div>
          <h2 class="subject-name">Nome da Matéria</h2>
      </ion-row>
      <ion-segment value="atividade">
        <ion-segment-button value="atividade">
          <ion-label>Atividade</ion-label>
        </ion-segment-button>
        <ion-segment-button value="avisos">
          <ion-label>Avisos</ion-label>
        </ion-segment-button>
      </ion-segment>

    <!-- Lista de Atividades -->
    <ion-list>
      <div class="card">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/professor.png" alt="Professor">
          </ion-avatar>
          <ion-label>
            <a class="activity-link" href="pagina-aluno-atividades-mais">
              <h3 class="professor-name">Nome do Professor</h3>
              <h2 class="activity-title">Título da Atividade</h2>
              <p class="activity-deadline">Prazo: 28/11/2024, 18:59</p>
              <p class="comments">Comentários para turma</p>
            </a>
          </ion-label>
        </ion-item>
      </div>

      <div class="card">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/professor.png" alt="Professor">
          </ion-avatar>
          <ion-label>
            <h3 class="professor-name">Nome do Professor</h3>
            <h2 class="activity-title">Título da Atividade</h2>
            <p class="activity-deadline">Prazo: 28/11/2024, 18:59</p>
            <p class="comments">Comentários para turma</p>
          </ion-label>
        </ion-item>
      </div>

      <div class="card">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/professor.png" alt="Professor">
          </ion-avatar>
          <ion-label>
            <h3 class="professor-name">Nome do Professor</h3>
            <h2 class="activity-title">Título da Atividade</h2>
            <p class="activity-deadline">Prazo: 28/11/2024, 18:59</p>
            <p class="comments">Comentários para turma</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
</div>

