.container {
  margin-top: 90px;
}

.subject-row {
  display: flex;
  align-items: center;
  background-color: #188038; /* Fundo destacado para o cabeçalho */
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

.subject-icon {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 10px;
  margin-right: 10px;
}

ion-segment {
  margin-top: 15px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

ion-segment-button {
  --background: trasparent; /* Remove fundo dos botões */
  --color: #000000;
  font-weight: bold;
  margin: 0 5px;
}

ion-segment-button.ion-activated {
  --color: #188038; /* Cor do botão ativo */
  border-radius: 8px;
}

ion-item {
  --background-color: #d9d9d9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.activity-link {
  text-decoration: none;
}

ion-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

ion-avatar img {
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

.professor-name {
  font-size: 16px;
  color: #000000;
  padding-bottom: 3px;
}

.activity-title {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.activity-deadline {
  font-size: 14px;
  color: #000000;
  margin-top: 5px;
}

.comments {
  font-size: 14px;
  color: #000000;
  margin-top: 5px;
  border-top: 1px solid white;
}
