<ion-content>
  <!-- Background Image -->
  <div class="login-background">
    <div class="login-container">
      <!-- RA Input -->
      <ion-item class="input-container">
        <ion-label position="floating" class="label">RA</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <!-- Password Input -->
      <ion-item class="input-container">
        <ion-label position="floating" class="label">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <!-- Login Button -->
      <ion-button expand="block">Entrar</ion-button>
      
      <!-- Help Text -->
      <ion-text color="medium" class="help-text">
        <p>Precisa de ajuda?</p>
      </ion-text>
    </div>
  </div>
</ion-content>
