  <div class="activity-container">
    <!-- Imagem do usuário e título -->
    <div class="header">
        <img src="assets/imgs/user-placeholder.png" alt="Imagem do Usuário">
      <h2 class="activity-title">Título da Atividade</h2>
      <p class="points">Pontos: -- / 10</p>
    </div>

    <!-- Descrição da atividade -->
    <div class="activity-description">
      <p>A escola é como um jardim onde as crianças crescem e aprendem. Mas para que esse jardim floresça, é preciso que todos cuidem dele juntos: os professores, os alunos e as famílias. A comunicação entre a escola e a família é como a água que rega esse jardim, fazendo com que as plantas cresçam fortes e saudáveis.</p>
      <p>Nesta atividade, vamos explorar a importância da comunicação entre a escola e a família e descobrir como podemos fortalecer essa relação.</p>
    </div>

    <!-- Anexos e Status -->
    <div class="attachments-status">
      <p><strong>Meu trabalho</strong></p>
      <p><span class="attachment">Anexo</span></p>
      <p>Status: <span class="status">entregue</span></p>
      <p>Prazo: 28/11/2024, 18:59</p>
    </div>

    <!-- Botão de entrega -->
    <ion-button expand="block" color="primary">Entregue</ion-button>
  </div>
